* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: sans-serif;
	background: lightgrey;
}


/********** Base styles **********/

h1 {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 1.75em;
  color: #58355a;
}

.box {
	border: 10px solid transparent;
	background: transparent;
	position: relative;
	height: 380px;
}

.innerBox {
	border: solid black 1px;
	position: relative;
	background: #2f284a;
	height: 360px;
	margin-right: 0px;
}

.boxTitle {
	border: 1px solid black;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	position: absolute;
	right: 0px;
	padding: 2px 25px 2px 25px;
}

#Chicken {
	background: #f4586a;
	color: white;
}

#Beef {
	background: #a43669;
	color: white;
}

#Sushi {
	background: #58355a;
	color: white;
}

.boxText {
	border: none;
	position: absolute;
	top: 27px;
	margin: 20px 20px 20px 20px;
	text-align: left;
	vertical-align: middle;
	color: #f4586a;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}